img {
    width: 640px;
    max-width: 90vw;
    height: auto;
}
body {
    font-size: 120%;
    position: relative;
    left: 30px;
    font-family: Verdana, Tahoma, sans-serif;
}
.box {
    width: 45vw;
    margin: 40px 20vw;
    margin-right: 139px;
    position: static;
    display: inline-block;
}
.contents {
    width: auto;
    margin:auto;
    margin-top:80px;
    display: inline-block;
    position:fixed;
}
.contents * {
    margin: 10px
}