img {
    width: 640px;
    max-width: 90vw;
    height: auto;
}
body {
    font-size: 150%;
    position: relative;
    left: 30px;
}
.box {
    width: 60vw;
    margin: 50px;
    
    display: inline-block;
}
.contents {
    width: auto;
    margin-left:auto;
    margin-top:20px;
    display: inline-block;
}